<!DOCTYPE html>
<html>
<head>
<title>Ricetta</title>
<link rel="stylesheet" href="/css/stile2.css?version=2" />
</head>
<body>
  <div th:if="${ricetta}">
    <h1 th:text="${ricetta.nome}"> nome ricetta</h1>
		<span><img width="30%" th:src=${ricetta.immagine} /></span>
        <div>Descrizione: <span th:text="'(' + ${ricetta.descrizione} + ')'">descrizione</span></div>
	<div th:if="${ricetta.cuoco}">
	 <div>Cuoco: <span th:text="'(' + ${ricetta.cuoco.nome} + ')'">cuoco</span></div>
	 </div>
    </div>

    <div th:unless="${ricetta}">Non esiste</div>
  <h1>ingredienti</h1>
	<div th:if="${ricetta.ingredienteRicetta}">
	<ul>
		<li th:each="ingredienti : ${ricetta.ingredienteRicetta}">
			<span th:text="'(' + ${ingredienti.ingrediente.nome} + ')'">descrizione</span>
			<span th:text="'(' + ${ingredienti.quantita} + ')'">descrizione</span>
			</div>
			
			 
		</li>
	</ul>
	</div>
</body>
</html>