<!DOCTYPE html>
<html>
  <head>
    <title>Film</title>
    <link rel="stylesheet" href="/siw-food-2/src/main/resources/static/css/stile.css?version=2" />
  </head>
  <body>
   fff
    <div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
    <div th:if="${movie}">
    <h1 th:text="${movie.title}"> Titolo film</h1>
        <div>Anno: <span th:text="'(' + ${movie.year} + ')'">2000</span></div>
        <span><img width="30%" th:src=${movie.urlImage} /></span>
		<div>Regista: <span th:text="'(' + ${movie.director} + ')'">ai</span></div>
		<div th:if="${movie.actor.isEmpty()}">Non ci sono attori per questo film</div>
		<li th:each="act:${movie.actor}">
		
		<div>Actor=<span th:text="'(' + ${act.name} + ')'">ai</span></div>
		</li>
		
    </div>
    <div th:unless="${movie}">Non esiste</div>
  </body>
</html>
